.Home{
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.logout{
  float: right;
}
.GenresOfAIs{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#GenresOfAI{
  border: 1px solid #ccc;
}